.exercise-instance {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.exercise .btn.big {
  margin-bottom: 1rem;
}

.exercise .error {
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  color: var(--danger);
  background-color: #ffd2d2;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: var(--borderRad);
  cursor: pointer;
  transition: 0.1s ease;
}
.exercise .error.show {
  padding: 0.2rem 1.8rem;
}

.save-btn {
  background: var(--btnBackground);
  border: none;
  position: relative;
  line-height: 0;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: var(--borderRad);
  transition: transform 0.15s ease;
  height: 100%;
}

.exercise-instance .icon-btn {
  background: var(--btnBackground);
  border: none;
  position: relative;
  line-height: 0;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: var(--borderRad);
  transition: transform 0.15s ease;
  height: 100%;
}
.icon-btn:hover {
  transform: scale(1.1);
}
.icon-btn.delete {
  background: var(--borderColor);
  margin-right: 0.3rem;
}

.exercise-instance .icon {
  width: 1.3rem;
}

.btn:disabled {
  opacity: 0.5;
}

.not-saved {
  animation: blink 1s linear infinite;
}

.exercise-instance {
  margin-top: 2rem;
}

.exercise-instance .btn {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

.exercise-instance .danger {
  background: var(--danger);
  margin: 0 0.5rem;
}

.exercise-instance .disabled {
  background: rgba(243, 32, 19, 0.3);
  cursor: not-allowed;
}

.exercise-instance .timer {
  font-size: 1.3rem;
}

.exercise-input {
  width: 200px;
  border: 2px solid transparent;
  padding: 0.5rem 0.6rem;
  border-bottom: 2px solid var(--borderColor);
  border-radius: var(--borderRad);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: border 0.1s ease;
  margin: 0 0.5rem;
}

.exercise-input:focus {
  outline: none;
  border: 2px solid var(--borderColor);
  border-radius: var(--borderRad);
}

.exercise-instance .dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  overflow-y: scroll;
  border-radius: var(--borderRad);
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100px;
}

.dd-list {
  list-style: none;
  background: #fff;
}

.dd-list li button {
  outline: none;
  border: none;
  width: 100%;
  text-align: left;
  font-family: 'RobotoMedium';
  margin: 0.3rem 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  background: rgba(246, 144, 5, 0.4);
  color: #000;
  border-radius: var(--borderRad);
}

.dd-list li button:focus {
  background: rgb(246, 144, 5);
}

.dd-list li button:hover {
  background: rgb(246, 144, 5);
}

.exercise-instance .dropdown-content.active {
  display: block;
  margin-top: 0.2rem;
}

@keyframes blink {
  0% {
    box-shadow: 0px 0px 0px #000;
    transform: scale(1);
  }
  50% {
    box-shadow: 3px 3px 5px #000;
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0px 0px 0px #000;
    transform: scale(1.05);
  }
}

@media (max-width: 492px) {
  .exercise-input {
    width: 150px;
  }

  .btn.small {
    font-size: 1rem;
  }

  .exercise-instance .timer {
    font-size: 1rem;
    position: absolute;
    top: 100%;
  }
}