:root {
  --btnBackground: #25bea0;
  --borderRad: 7px;
  --borderColor: rgb(246, 144, 5);
  --danger: rgb(243, 32, 19);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RobotoMediumItalic';
  src: url('../fonts/Roboto-MediumItalic.ttf');
}

.container {
  border: 1px solid red;
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
}

.workspace {
  padding-top: 10px;
}

.timer {
  font-family: 'Anton';
  width: 80px;
}
